body
{
  background: #ffe6e6;
}

.inline
{
  display: inline-block;
}

/***********************
  T A R J E T A  O N E
**********************+**/
/* .container-vertical
{
  width: 279px;
  height: 500px;
  background: #fff;
  margin: auto;
  margin-top: 50px;
}

.box-1
{
  width: 100%;
  height: 250px;
}

.box-master
{
  width: 57%;
  height: 204px;
  margin-left: 65px;
  margin-top: 35px;
  display: inline-block;
}

.logo
{
  width: 125px;
  height: 125px;
  border: 3px solid #6cb0b0;
  border-radius: 50%;
  margin-left: 10px;
}

.logo p
{
  font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
  text-transform: uppercase;
  margin-left: 25px;
  margin-top: 25px;
}

.text-info h3
{
  font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
  margin-bottom: 0px;
}

.text-info p
{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-top: 0px;
  margin-left: 12px;
}

.box-2
{
  width: 100%;
  height: 250px;
}

.phone
{
  width: 100%;
  height: 60px;
  background: #6cb0b0 url(../img/tri.png) no-repeat;
  background-position-x: 91px;
}

.box-2 a
{
  margin-left: 30px;
  margin-top: 25px;
  display: inline-block;
  text-decoration: none;
}

.box-2 p
{
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
  margin-top: 2px;
  margin-left: 15px;
  display: inline-block !important;
  vertical-align: top;
}

.phone-ico
{
  font-size: 20px;
  color: #fff;
  display: inline-block !important;
  vertical-align: top;
}

.email
{
  width: 100%;
  height: 60px;
  background: #629f9d;
}

.web
{
  width: 100%;
  height: 60px;
  background: #6cb0b0;
}

.address
{
  width: 100%;
  height: 70px;
  background: #629f9d;
} */

/***********************
  T A R J E T A  U N O
**********************+**/
.blueblue-container
{
  width: 500px;
  height: 280px;
  background: #fff url(../img/tarjeta_1.png) no-repeat;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-rows: 50% 50%;
}

.blueblue-info-one
{
  width: 380px;
  height: 115px;
  margin-top: 25px;
  margin-left: 23px;
  display: grid;
  grid-template-columns: 30% 70%;
}

.blueblue-profile
{
  width: 100px;
  height: 100px;
  border: 1px solid #262262;
  border-radius: 50%;
}

.blueblue-profile-logo
{
  font-size: 18px;
	font-family: 'Montserrat';
	font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 22px;
  margin-top: 40px;
}

.blueblue-name h1
{
  font-size: 28px;
	font-family: 'Montserrat';
	font-weight: 500;
  color: #262262;
}

.blueblue-info-data
{
  width: 77%;
  height: 115px;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 23px;
}

.info-data
{
  width: 100%;
  height: 35px;
  margin-bottom: 12px;
}

.blue-icon
{
  font-size: 24px;
  color: #262262;
}

/***********************
  T A R J E T A  D O S
**********************+**/
.bluepurple-container
{
  width: 500px;
  height: 280px;
  background: #fff url(../img/tarjeta_2.png) no-repeat;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-rows: 50% 50%;
}

.bluepurple-box-one
{
  display: grid;
  grid-template-columns: 60% 40%;
}

.bluepurple-name h1
{
  font-size: 25px;
	font-family: 'Montserrat';
	font-weight: 500;
  color: #262262;
  margin-left: 24px;
  margin-top: 94px;
}

.bluepurple-profile
{
  width: 145px;
  height: 72px;
  border: 1px solid #262262;
  margin-left: 10px;
  margin-top: 43px;
}

.bluepurple-profile-logo
{
  font-size: 18px;
	font-family: 'Montserrat';
	font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 40px;
  margin-top: 27px;
}

/***********************
  T A R J E T A  T R E S
**********************+**/
.green-container
{
  width: 500px;
  height: 280px;
  background: #fff url(../img/tarjeta_3.png) no-repeat;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-rows: 50% 50%;
}

.green-box-one
{
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-columns: 30% 70%;
}

.green-box-two
{
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-columns: 45% 55%;
}

.green-info-one
{
  width: 80%;
  height: 95px;
  margin-top: 37px;
  margin-left: 25px;
}

.green-profile
{
  width: 100px;
  height: 100px;
  border: 1px solid #006838;
  border-radius: 50%;
}

.green-profile-logo
{
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 23px;
  margin-top: 41px;
  color: #006838;
}

.green-name h1
{
  font-size: 28px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: #006838;
  margin-left: 20px;
  margin-top: 68px;
}

.green-data-one
{
  height: 138px;
  display: grid;
  grid-auto-rows: 50% 50%;
}

.info-data-globe
{
  width: 87%;
  height: 35px;
  margin-top: 42px;
  margin-left: 25px;
}

.green-data-square
{
  width: 87%;
  height: 35px;
  margin-bottom: 12px;
  margin-top: 35px;
  margin-left: 25px;
}

.green-icon
{
  font-size: 24px;
  color: #006838;
  background: #fff;
}

.green-data-two
{
  display: grid;
  grid-auto-rows: 33.33% 33.33% 33.33%;
}

.green-data-mobile
{
  width: 87%;
  height: 35px;
  margin-left: 23px;
  margin-top: 8px;
}

.marker-icon
{
  margin-top: -3px;
  margin-left: 28px;
}

/****************************
  T A R J E T A  C U A T R O
**********************+******/
.container-horizontal
{
  width: 500px;
  height: 280px;
  margin: auto;
  margin-top: 50px;
}

.orange-container
{
  background: #fff url(../img/tarjeta_4.png) no-repeat;
}

.orange-code-center
{
  width: 90%;
  height: 205px;
  margin-top: 30px;
  margin-left: 25px;
}

.orange-code-name h1
{
  font-size: 28px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: #7d0000;
  margin-left: 20px;
  margin-top: 35px;
}

.orange-icon
{
  font-size: 24px;
  color: #7d0000;
}

.orange-profile
{
  width: 100px;
  height: 100px;
  border: 1px solid #7d0000;
  border-radius: 50%;
  margin-top: 35px;
  margin-left: 10px;
}

.orange-profile-logo
{
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 23px;
  margin-top: 41px;
  color: #7d0000;
}

.orange-data-square
{
  height: 35px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: 10px;
}

.orange-data-mobile
{
  margin-left: 5px;
  margin-bottom: 20px;
}
/****************************
  T A R J E T A  C I N C O
**********************+******/
.colors-container
{
  background: #fff url(../img/tarjeta_5.png) no-repeat;
  margin-left: 350px;
}

.colors-center
{
  width: 85%;
  height: 205px;
  margin-top: 37px;
  margin-left: 37px;
  background: #abc178;
}

.grid
{
  display: grid;
  grid-template-columns: 72% 28%;
}

.colors-state
{
  display: grid;
  grid-template-rows: 35% 65%;
}

.colors-name h1
{
  font-size: 25px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: #fff;
  margin-left: 15px;
  margin-top: 35px;
}

.colors-info
{
  display: grid;
  grid-template-columns: 50% 50%;
}

.colors-data-square
{
  height: 35px;
  margin-bottom: 12px;
  margin-left: 15px;
  margin-top: 10px;
}

.colors-data-mobile
{
  margin-left: 5px;
  margin-top: 10px;
}

.colors-icon
{
  font-size: 24px;
  color: #fff;
}

.colors-profile
{
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-top: 35px;
  margin-left: 10px;
}

.colors-profile-logo
{
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 23px;
  margin-top: 41px;
  color: #fff;
}

/****************************
  T A R J E T A  S E I S
**********************+******/
.purple-container
{
  background: #fff url(../img/tarjeta_6.png) no-repeat;
}

.purple-center
{
  width: 100%;
  height: 250px;
  display: grid;
  grid-template-columns: 34% 66%;
}

.purple-logo
{
  margin-top: 85px;
  margin-left: 10px;
  display: inline-block;
}

.purple-logo h1
{
  font-size: 25px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: #422876;
  margin-left: 15px;
  margin-top: 35px;
}

.purple-data
{
  display: grid;
  grid-template-rows: 34% 66%;
}

.purple-name h1
{
  font-size: 25px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: #422876;
  margin-left: 5px;
  margin-top: 49px;
  display: inline-block;
}

.purple-icon
{
  font-size: 24px;
  color: #422876;
}

.purple-data-square
{
  margin-bottom: 12px;
  margin-left: 10px;
}

/****************************
  T A R J E T A  S I E T E
**********************+******/
.black-container
{
  background: #000 url(../img/tarjeta_7.png) no-repeat;
}

.black-center
{
  width: 73%;
  height: 250px;
  display: grid;
  grid-template-rows: 40% 60%;
  margin-left: 100px;
  padding-top: 19px;
}

.black-box-one
{
  display: grid;
  grid-template-columns: 70% 30%;
}

.black-name h1
{
  font-size: 23px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  margin-left: 5px;
  margin-top: 49px;
  display: inline-block;
}

.black-profile
{
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 5px;
}

.black-logo
{
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 22px;
  margin-top: 40px;
}

.black-box-two
{
  display: grid;
  grid-template-columns: 50% 50%;
}

.black-icon
{
  font-size: 24px;
  color: #fff;
}

.black-data-square
{
  margin-bottom: 20px;
  margin-left: 25px;
  margin-top: 20px;
}

.black-box-small
{
  height: 85px;
  margin-top: 44px;
}

/****************************
  T A R J E T A  O C H O
**********************+******/
.image-container
{
  background: url(../img/tarjeta_8.png) no-repeat;
  display: grid;
  grid-template-rows: 50% 50%;
}

.image-center-profile
{
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 22px;
  display: grid;
  grid-template-columns: 30% 70%;
}

.image-profile
{
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
}

.image-profile-logo
{
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 23px;
  margin-top: 41px;
  color: #9e6527;
}

.image-profile-name h1
{
  font-size: 28px;
  font-family: 'Montserrat';
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  margin-left: 20px;
  margin-top: 37px;
}

.image-data-square
{
  margin-bottom: 20px;
  margin-left: 35px;
  margin-top: 9px
}

/****************************
  T A R J E T A  N U E V E
**********************+******/
.yellow-container
{
  background: url(../img/tarjeta_9.png) no-repeat;
}

.yellow-center
{
  width: 90%;
  height: 250px;
  background: #fff;
  margin-top: 14px;
  margin-left: 25px;
  border-radius: 30px;
  display: grid;
  grid-template-rows: 50% 50%;
}

.yellow-profile
{
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 22px;
  display: grid;
  grid-template-columns: 70% 30%;
}

.yellow-name h1
{
  font-size: 28px;
  font-family: 'Montserrat';
  font-weight: 500;
  text-transform: uppercase;
  color: #b9181d;
  margin-left: 20px;
  margin-top: 37px;
}

.yellow-profile-logo
{
  width: 100px;
  height: 100px;
  border: 1px solid #b9181d;
  border-radius: 50%;
}

.yellow-logo
{
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 23px;
  margin-top: 41px;
  color: #b9181d;
}

.yellow-icon
{
  color: #b9181d;
  font-size: 24px;
}

.yellow-data-square
{
  margin-bottom: 17px;
  margin-left: 35px;
  margin-top: 0px;
}
